@model List<City>
@{
    ViewData["Title"] = "City";
}
<div class="card">
    <div class="card-header">
        <div class="card-title">
            <div class="row align-items-center">
                <div class="col-lg-6 text-left">
                    Cities
                </div>
                <div class="col-lg-6 text-right">
                    <a class="btn btn-primary text-white" asp-controller="City" asp-action="AddOrUpdate" asp-route-id="0">Add</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>City</th>
                    <th>Country</th>
                    <th>Is Capital</th>
                    <th>Population</th>
                    <th>Area</th>
                    <th>Budget</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Country.Name</td>
                        <td>@(item.IsCapital ? "Yes" : "No")</td>
                        <td>@item.Population</td>
                        <td>@item.Area mi²</td>
                        <td>@item.Budget €</td>
                        <td>@item.InsertedDate.ToString("dd/MM/yyyy")</td>
                        <td>
                            <a class="btn btn-link p-0" asp-controller="City" asp-action="AddOrUpdate" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-link p-0" asp-controller="City" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
